{include file='header'}


<div class="container">
	<h2>分类管理</h2>
	<div> <a href="{:url('comic/add')}" class="btn btn-primary">添加漫画</a>  <a href="{:url('add',['id'=>1])}" class="btn btn-primary">添加分类</a> </div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>编号</th>
				<th>分类名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach $list as $info}
			<tr>
				<td>{$info.id}</td>
				<td>{$info.cate_name}</td>
				<td></td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	<div>
		{$list->render()}<!-- 分页样式 -->
	</div>
</div>

</body>
</html>